.Header{
    display: flex;
    padding: 30px;
}
.item{
    display: flex;
    justify-content: space-between;
    padding: 2%;
}
nav .main-nav{
    display: flex;
   align-content: center;
   width: 400px;
   justify-content: space-between;
    
}
nav .main-nav li a{
    font-size: 50px;
}
.container{
    width: 100%;
    padding: 0%;
    margin: 0%;
    max-width: 90%;

}
li{
    list-style: none;
}
#title-overviews{
    margin-bottom: 30px;
    
}
.sm-card{
    height: 400px;
width: 600px;
border-radius: 10px;
object-fit: cover;

}
.sm-card-container{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin: 30px 0;  
}

article{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 250%;
    border-radius: 5px;
    margin: 3px;
    align-items: center;
    padding: 10px;
    border-top: 1px solid black;
    width: 100%;
    max-width: 100%;
    padding-left: 10%;
}
.infos{
   font-size: 35px;

}
.work-title{
    margin: 3%;
    text-align: center;
}

section.overviews{
    padding: 7px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;} 
    .overviews p{
        align-content: center;
        margin-top: 5%;
    }
    
    section{
        font-style: inherit;
        font-size: 250%;
        padding:7px;
        margin: auto;
        background-color: beige;
        }
        .flex{
            display: flex;
        }
        .col1, .col2, .col3{
            flex-wrap: nowrap;
            width: 39%;
        }
aside.pics{
  padding: 10px;
   
   position: relative;

}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 1px solid black;
    font-size: 400%;
    background-attachment: fixed;
    background-color: beige;
}
  
.footer-icon svg {
    margin: 0 10px;
    font-size: 200%;
  }
  
.footer-logo {
    margin-left: 50px;
    font-size: 200%;
}
  
  footer.footer-icon {
    margin-right: 50px;
    font-size: 200%;
}